node_modules/
routes/ankur_file.js
models/about.js
models/beacontemplates.js
models/menu.js
models/orgmenu.js
models/products.js
models/services.js
models/template.js
models/tempType.js
controllers/menuController.js
controllers/orgMenuController.js
controllers/templateType.js
controllers/templateController.js
routes/menuRoute.js
routes/orgMenuRoute.js
routes/sp_user.js
routes/templateTypeRoute.js
controllers.zip
routes.zip
/.env







